
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}



* {box-sizing: border-box;
	font-family: 'Source Sans Pro';
}





#wrapper {
	width: 80%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Montserrat';
	font-size: 4em;
	font-weight: 700;
	color: #86809E; 
	margin: .3em 0 .2em 0;
}

h2 {
	font-family: 'Source Sans Pro';
	font-size: 1.5em;
	font-style: italic;
	font-weight: 400;
	color: white; 
	margin: .1em 0 0 .1em;
	padding: .5em .5em .5em .3em;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.progressbar {
	width: 100%;
	/*height: 50px;*/
	background-color: #86809E;
	margin-bottom: 4em;
}

h3 {
	font-family: 'Source Sans Pro';
	font-size: 1.7em;
/*	font-style: italic;*/
	font-weight: 500;
	color: #7C7A7A; 
	margin: .5em 0 .5em .1em;

}

form {
	width: 100%;
	
}

input {
	width: 300px;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	padding: .5em;
	color: #cccccc;
	padding-left: 1em;
}
input:focus {
    outline: 2px #42B886 solid;
}
.longInput {
	width: 500px;
	font-family: 'Source Sans Pro';
	font-size: 1em;
	padding: .5em;
	color: #cccccc;
}

span.lighter {
	color: #cccccc;
}


.formspace {
	height: 2em;
	display: block;
}

.formspace2 {
	height: .5em;
	display: block;
}

.inlineSpace {
	width: 1em;
	display: inline-block;
}

.buttonWrapper {
	width: 100%;
	margin: 0 auto;
	/*border: 1px black solid;*/
}

.buttonWrapperNarrow {
	width: 40%;

}

button.register {
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: #86809E;
	outline: none;
	border: none;
}


button.logIn {
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: #86809E;
	border: none;
	
}

button {
	font-family: 'Source Sans Pro';
	font-size: 1.5em;
	font-weight: 400;
	color: white; 
	margin: .5em 0 0 .1em;
	text-transform: uppercase;
	outline: none;

}


button.addMore{
	width: 180px;
	height: 50px;
	border-radius: 20px;
	background-color: #42B886;
	outline: none;
	border: none;
}


button.done {
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: #86809E;
	border: none;
	float: right;
}

button.done2 {
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: #86809E;
	border: none;
}

button.doneIncome {
	width: 130px;
	height: 50px;
	border-radius: 20px;
	background-color: #86809E;
	border: none;
	font-size: .9em;
}

/*///////////////////////////////////////////////DROPDOWN////////////////////////////////////////////////////////////*/
.dropdown {
  width: 300px;
    position: relative;
    display: inline-block;
}


  .dropbtn {
  	width: 300px;
	font-family: 'Source Sans Pro';
	font-size: 1.7em;
	color: gray;
	/*padding-left: .2em;*/
    background-color: #EEEEEE;
    border: 1px #EEEEEE solid;
    cursor: pointer;
    font-weight: 400;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    width: 300px;
    position: absolute;
    font-size: 1.7em;

    box-sizing: border-box;
    /*padding-left: .2em;*/
    background-color: white;
   
    }

/* Links inside the dropdown */
.dropdown-content a {
    color: #86809E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Source Sans Pro';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: aliceblue;
color: #42B886;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: gray;
}

.yesFoodstamps {
	display: none;
	position: absolute;
}

.dropdown-content a.yesIHaveFoodStamps:focus ~ .yesFoodstamps{
	display: block;
}

.adultName {
	width: 100%;
	font-family: 'Source Sans Pro';
	font-size: 1.7em;
	color: gray;
	/*padding-left: .2em;*/
    background-color: white;
    border: 1px #CCCCCC solid;
    cursor: pointer;
    font-weight: 400;
	padding: .5em;
	margin-bottom: .5em;}


button.addIncome {
	width: 250px;
	height: 50px;
	border-radius: 20px;
	background-color: #42B886;
	border: none;
	float: right;
	font-size: .9em;
	margin: 0;
}


.enterIncome {
	width: 100%;
	font-family: 'Source Sans Pro';
	font-size: 1.7em;
	color: gray;
	/*padding-left: .2em;*/
    background-color: #F9F9F9;
    /*border: 1px #CCCCCC solid;*/
    cursor: pointer;
    font-weight: 400;
	padding: .5em;
	margin-bottom: .5em;
	position: relative;
	display: none;

}


.enterIncome h4{
	font-size: 1em;
	margin: .5em 0 .5em .1em;
}


.monthlyWeekly {
	text-transform: uppercase;
	font-size: .7em;
}

.checkbox {
	width: 20px;
	
}
/*/////////////////////////////////////////////////materialize radio button/////////////////////////////////*/






[type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden; }

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
 /* -webkit-transition: .28s ease;
  -moz-transition: .28s ease;
  -o-transition: .28s ease;
  -ms-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;*/
  /* webkit (safari, chrome) browsers */
 /* -moz-user-select: none;*/
  /* mozilla browsers */
 /* -khtml-user-select: none;*/
  /* webkit (konqueror) browsers */
  /*-ms-user-select: none;*/
  /* IE10+ */ }

[type="radio"] + label:before, [type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;/* -webkit-transition: .28s ease;
  -moz-transition: .28s ease;
  -o-transition: .28s ease;
  -ms-transition: .28s ease;
  transition: .28s ease; */
 /**/}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid #cccccc; }

[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid #cccccc;
  z-index: -1;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent; }

[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid #42B886;
  background-color: #42B886;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02); }

/* Radio With gap */
/*[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #42B886; }

[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #42B886;
  background-color: #42B886;
  z-index: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5); }*/

/* Disabled Radio With gap */
/*[type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid rgba(0, 0, 0, 0.26); }

[type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.26); }
*/
/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before, [type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.26); }

[type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26); }

[type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26); }

[type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: #BDBDBD; }
